---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <h1>
        Another new first page
    </h1>
    <p>
        With some words
    <ul>
        <li>and</li>
        <li>some</li>
        <li>bullets</li>
    </ul>
    <ol>
        <li>why</li>
        <li>not</li>
        <li>number?</li>
    </ol>
</Layout>